.description {
    height: 5px;
}

.description1 {
    height: 30px;
}

.description2 {
    height: 60px;
}

h1 {
    text-align: center;
    font-size: 71px;
}

body {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      line-height: 30px;
      background: rgb(209, 214, 245);
}

.menu-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:1200px;
    height: auto;
}

.info3 {
    text-align: left;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.hand-image {
    position: absolute;
    top: 836px;
    right: 111px;
    width: 40%;
    height: 50%;
}

.fact-image {
    float: left;
    margin-left: 105px;
    width: 250px;
}

.info4 {
    margin-right: 105px;
}

.fred-image {
    float: left;
    margin-left: 105px;
    width: 250px;
}

.info5 {
    margin-right: 105px;
}
.transp-image {
    position: absolute;
    top: 1725px;
    right: 111px;
    width: 40%;
    height: 50%;
}

.info6 {
    text-align: left;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.blu-logo{
    position: absolute;
    top: 35px;
    left: 170px;
    width: 130px;
}

.center{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.center ul {
    list-style: none;
    background-color: rgb(248, 242, 255);
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
.center li {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    line-height: 40px;
    height: 40px;
  }
  
.center a {
    text-decoration: none;
    width: 80px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding: 60px;
  }

.muff3{
    float: left;
    width: 50%;
    height: auto;
}

.jampic{
    float: right;
    width: 50%;
    height: auto;
}


h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 170px;
    width: 130px;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
    top: 199px;
    right: 170px;
    width: 130px;
}

.description7{
    height: 75px;
}